<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title><%= projectName %> Prototype</title>

		<link rel="stylesheet" href="css/screen.css">

		<script type="text/javascript" src="/components/modernizr/modernizr.js"></script>

	<% if (usesTypekit) { %>
		<script type="text/javascript"> // Typekit
		  (function() {
			var config = {
			  kitId: '[KIT ID HERE]',
			  scriptTimeout: 1000
			};
			var h=document.getElementsByTagName("html")[0];h.className+=" wf-loading";var t=setTimeout(function(){h.className=h.className.replace(/(\s|^)wf-loading(\s|$)/g," ");h.className+=" wf-inactive"},config.scriptTimeout);var tk=document.createElement("script"),d=false;tk.src='//use.typekit.net/'+config.kitId+'.js';tk.type="text/javascript";tk.async="true";tk.onload=tk.onreadystatechange=function(){var a=this.readyState;if(d||a&&a!="complete"&&a!="loaded")return;d=true;clearTimeout(t);try{Typekit.load(config)}catch(b){}};var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(tk,s)
		  })();
		</script>
	<% } %>

	</head>
	<body>

		<section class="container">

		</section>

		<!-- Core scripts-->
		<script src="/components/jquery/jquery.min.js"></script>
		<script src="/components/lodash/dist/lodash.min.js"></script>
	<% if (needsOldIESupport) { %>
		<!-- Compatibility scripts-->
	    <script src="components/respondjs/respond.min.js"></script>
	<% } %>

		<!-- Extra scripts (like, via Bower)-->
		<!-- ... -->
		
		<!-- Custom scripts -->
		<script src="/js/app.js"></script>
	</body>
</html>